@{
    string action = ViewContext.RouteData.Values["Action"].ToString();
    string controller = ViewContext.RouteData.Values["Controller"].ToString();
    int SingOut = System.Web.HttpContext.Current.Session.Timeout;
    HttpCookie cookie = this.Request.Cookies["ASP.NET_SessionId"];
    string ValidTime = "";
    if (cookie != null)
    {
        ValidTime = DateTime.Now.AddHours(-8).AddMinutes(SingOut).Subtract(new DateTime(1970, 1, 1, 0, 0, 0, DateTimeKind.Utc)).TotalMilliseconds.ToString();
    }
    int TotalMinutes = System.Web.HttpContext.Current.Session.Timeout;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    @Styles.Render("~/sbAdmin2/vendorCss")
    @Styles.Render("~/sbAdmin2/css")
    @Styles.Render("~/sbAdmin2/customerCss")


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/sbAdmin2/js")
    @Scripts.Render("~/sbAdmin2/vendorJs")

    <script src="~/ThirdParty/custom/js/misCommon.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
</head>
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar Layout-->
        @Html.Partial("~/Views/Shared/_Menu.cshtml")
        <!-- End of Sidebar Layout-->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    @*<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group">
                                <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                       aria-label="Search" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fas fa-search fa-sm"></i>
                                    </button>
                                </div>
                            </div>
                        </form>*@

                    <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
                    @if (cookie != null)
                    {
                        <li class="nav-item" >  
                            <a class="nav-link" >
                                剩餘時間登出:
                                <label id="lb_time"></label>
                            </a>
                        </li>
                    }
                    <div class="topbar-divider d-none d-sm-block"></div>
                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">@(Session["userAccount"] == null ? "" : Session["userAccount"].ToString())</span>
                            <img class="img-profile rounded-circle"
                                 src="/img/undraw_profile.svg">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            @*<a class="dropdown-item" href="#">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    Settings
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                    Activity Log
                </a>*@
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    @RenderBody()
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    @RenderSection("scripts", required: false)
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">確定登出嗎?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">選擇"確認"您的個人登入訊息將會被清除。</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">取消</button>
                    <a class="btn btn-primary" href="@Url.Action("Logout", "Home", new { Area = "" })">確認</a>
                </div>
            </div>
        </div>
    </div>
    @Html.Hidden("errMsg", ViewData["errMsg"] == null ? "" : ViewData["errMsg"].ToString())
    @Html.Hidden("infoMsg", ViewData["infoMsg"] == null ? "" : ViewData["infoMsg"].ToString())
    @Html.Hidden("warnMsg", ViewData["warnMsg"] == null ? "" : ViewData["warnMsg"].ToString())
    @Html.Hidden("successMsg", ViewData["successMsg"] == null ? "" : ViewData["successMsg"].ToString())
    <script>
        $(function () {
            if ($('input[name="errMsg"]').val() != '') {
                $.notify($('input[name="errMsg"]').val(), { className: "error", position: "top center" });
            }
            if ($('input[name="infoMsg"]').val() != '') {
                $.notify($('input[name="infoMsg"]').val(), { className: "info", position: "top center" });
            }
            if ($('input[name="warnMsg"]').val() != '') {
                $.notify($('input[name="warnMsg"]').val(), { className: "warn", position: "top center" });
            }
            if ($('input[name="successMsg"]').val() != '') {
                $.notify($('input[name="successMsg"]').val(), { className: "warn", position: "top center" });
            }

            var cookie = '@cookie';
            if (isNaN(cookie)) {
                minute = parseInt('@SingOut');
                second = 0;
                timedCount();
            }
        });

        function timedCount() {
            if (new Date(parseFloat('@ValidTime')) < new Date() || (second == 0 && minute == 0)) {
                window.location.href = '@Url.Action("Logout", "Home")';
            }
            if (second == 0 && minute == 10) {
                $('#lb_time').text(paddingLeft(minute.toString(), 2) + ':' + paddingLeft(second.toString(), 2));

                $.notify('提醒您，畫面已閒置' +@(TotalMinutes -10) +'分鐘。<br/>如果有未完成表單請盡速完成。<br />若需繼續使用請重新整理(畫面欄位值會被清空)', { className: "info", position: "top center" });
                minute--;
                second = 60;
                second--;
                t = setTimeout(timedCount, 1000)
            }
            else {
                $('#lb_time').text(paddingLeft(minute.toString(),2) + ':' + paddingLeft(second.toString(),2));
                if (second == 0) {
                    minute--;
                    second = 60;
                }
                second--;
                t = setTimeout(timedCount, 1000)
            }
        }

        function SetDate(id) {
            $('#' + id).val(formatDate(new Date()));
            $('#' + id).val(formatDate(new Date()));
        }

        function ReSetDate(id) {
            $('#' + id).val('');
            $('#' + id).val('');
        }

        function formatDate(date) {
            var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2)
                month = '0' + month;
            if (day.length < 2)
                day = '0' + day;

            return [year, month, day].join('-');
        }
    </script>
</body>
</html>
