@using backendWeb.Models.ViewModel;
@{
    ViewBag.Title = "Index";

    List<SelectListItem> UserList = TempData["UserList"] as List<SelectListItem>;
    List<SelectListItem> StatusList = new List<SelectListItem>
     {
        new SelectListItem(){Text="全部", Value=""},
        new SelectListItem(){Text="案件存檔", Value="案件存檔"},
        new SelectListItem(){Text="案件送出", Value="案件送出"},
        new SelectListItem(){Text="案件送出失敗", Value="案件送出失敗"},
        new SelectListItem(){Text="案件送出異常", Value="案件送出異常"},
        new SelectListItem(){Text="收件", Value="收件"},
        new SelectListItem(){Text="核准", Value="核准"},
        new SelectListItem(){Text="婉拒", Value="婉拒"},
        new SelectListItem(){Text="附條件", Value="附條件"},
        new SelectListItem(){Text="待補", Value="待補"},
        new SelectListItem(){Text="補件", Value="補件"},
        new SelectListItem(){Text="申覆", Value="申覆"},
        new SelectListItem(){Text="自退", Value="自退"}
    };
    string Controller = ViewContext.RouteData.GetRequiredString("Controller");
}
<div class="card mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">查詢</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6 col-12">
                <div class="row">
                    <div class="form-group col-md-12 col-lg-12 col-sm-12 col-12">
                        <label class="" for="receive_date">
                            申請日期
                        </label>
                        <input class="form-control" id="receive_date" name="receive_date" type="date" @*value="@DateTime.Now.ToString("yyyy-MM-dd")"*@ />
                    </div>
                    <div class="form-group col-md-12 col-lg-12 col-sm-12 col-12">
                        <label class="" for="customer_idcard_no">
                            客戶ID
                        </label>
                        <input class="form-control" id="customer_idcard_no" name="customer_idcard_no" type="text" />
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12">
                <div class="row">
                    <div class="form-group col-md-12 col-lg-12 col-sm-12 col-12">
                        <label class="" for="receive_staff">
                            進件人員
                        </label>
                        @Html.DropDownList("receive_staff", UserList, new {@class = "form-control"})
                    </div>
                    <div class="form-group col-md-12 col-lg-12 col-sm-12 col-12">
                        <label class="" for="receive_status">
                            案件狀態
                        </label>
                        @Html.DropDownList("receive_status", StatusList, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex .justify-content-start pt-3">
            <input id="btnSearch" type="button" class="btn btn-info btn-icon-split py-2 px-4" value="查詢" />
            @*<a class='btn btn-info btn-icon-split py-2 px-4' style='margin: 0 5px 0 5px;' href='@Url.Action("Create", "Receive", new { Area = "ApplyForm",  })'>新增案件</a>*@
        </div>
    </div>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">列表</h6>
    </div>
    <div class="card-body">
        <div id="dv_table" class=""></div>
    </div>
</div>
<div class="modal fade" id="aa" tabindex="-1" role="dialog" aria-hidden="false">
    <div class="modal-dialog modal-xl" role="document" >
        <div class="modal-content">
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(function () {
            GetTable();
        });

        $('#btnSearch').click(function () {
            GetTable();
        })

        function GetTable() {
            $('#dv_table').load('@Url.Action("Table", Controller, new { Area = "ApplyForm" })');
        }

        function History(examine_no) {
            $.ajax({
                url: '@Url.Action("History", Controller)',
                data: {
                    examine_no: examine_no
                },
                type: "html",
                success: function (data) {
                    debugger;
                    $('#aa .modal-body').html('');
                    $('#aa .modal-body').append(data);
                }
            });
        }
    </script>
}
