@model viewModelMember
@{
    ViewData["Title"] = "忘記密碼";
}
<style>
body {
    font-family: "Open Sans", sans-serif;
    height: 80vh;
    @* background: url("https://i.imgur.com/HgflTDf.jpg") 50% fixed; *@
    background: url("/images/setting.jpg") 50% fixed;
    background-size: cover;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
    display: none;
}
</style>

<div class="wrapper">
    <form id="regForm" action="@Url.Action("ForgotPassword", "Member")" method="post" class="login" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(o => o.customer_id)
        <!-- One "tab" for each step in the form: -->
        <div class="tab">
            <p class="title">忘記密碼</p>
            <input type="text" class="uppercase" placeholder="身分證字號" id="userID" name="customer_idcard_no" maxlength="10" minlength="10" required value="@Model.customer_idcard_no" />
            <i class="fa fa-user"></i>
            <input type="text" placeholder="手機號碼" id="userPhone" name="customer_mobile_phone" inputmode="tel" maxlength="10" minlength="10" onkeyup="value = value.replace(/[^0-9]/g,'')" required value="@Model.customer_mobile_phone" />
            <i class="fa fa-phone"></i>
            <div class="row no-gutters align-items-center">
                <div class="col-7 col-md-8">
                    <input type="text" id="sms_verify_code" name="sms_verify_code" placeholder="簡訊驗證碼" inputmode="numeric" style="width:95%" required autocomplete="off" />
                    <i class="fa fa-mobile-alt" style="left: 13px;"></i>
                </div>
                <div class="col-5 col-md-4">
                    <a class="btn btn-opposite text-white w-100" style="padding: 15px 10px; margin-bottom: 10px;" onclick="sendSms()">發送驗證碼</a>
                </div>
            </div>
            <div class="d-flex justify-content-end pb-3">
                <a href="#" class="forget-passport" data-toggle="modal" data-target="#smsModal">收不到驗證碼?</a>
            </div>
        </div>

        <div class="tab">
            <p class="title">重新設定密碼</p>
            <input type="password" id="newPassword" name="new_password" placeholder="輸入新密碼" maxlength="6" minlength="16" autocomplete="off" required />
            <i class="fa fa-key"></i>
            <input type="password" id="confirmPassword" name="confirm_password" placeholder="確認密碼" maxlength="6" minlength="16" autocomplete="off" required />
            <i class="fa fa-key"></i>
        </div>

        <div>
            <button type="button" id="nextBtn" onclick="nextPrev(1)">下一步</button>
        </div>
    </form>
</div>

<!-- Sms Modal -->
<div class="modal fade theme-modal" id="smsModal" tabindex="-1" role="dialog" aria-labelledby="smsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="smsModalLabel">收不到驗證碼</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>麻煩請您加入我們<a href="https://liff.line.me/1645278921-kWRPP32q/?accountId=rym-i-money" target="_blank">LINE官方帳號</a>，由專人為您服務，謝謝。</p>
                <div class="text-center py-3">
                    @* <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button> *@
                    <a href="https://liff.line.me/1645278921-kWRPP32q/?accountId=rym-i-money" target="_blank" class="btn btn-opposite">立即加入</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var currentTab = 0; // Current tab is set to be the first tab (0)
    showTab(currentTab); // Display the current tab

    function showTab(n) {
        // This function will display the specified tab of the form ...
        var x = document.getElementsByClassName("tab");

        x[n].style.display = "block";
        $(x[n]).find('input:first').focus();
        // ... and fix the Next buttons:
        if (n == (x.length - 1)) {
            document.getElementById("nextBtn").innerHTML = "送出";
        } else {
            document.getElementById("nextBtn").innerHTML = "下一步";
        }

    }

    function nextPrev(n) {
        // This function will figure out which tab to display
        var x = document.getElementsByClassName("tab");
        // Exit the function if any field in the current tab is invalid:
        if (n == 1 && !validateForm()) return false;
        // Hide the current tab:
        x[currentTab].style.display = "none";
        // Increase or decrease the current tab by 1:
        currentTab = currentTab + n;
        // if you have reached the end of the form... :
        if (currentTab >= x.length) {
            //...the form gets submitted:
            document.getElementById("regForm").submit();
            return false;
        }
        // Otherwise, display the correct tab:
        showTab(currentTab);
    }

    function validateForm() {
        // This function deals with validation of the form fields
        var x, y, i, valid = true;
        x = document.getElementsByClassName("tab");
        y = x[currentTab].getElementsByTagName("input");
        // A loop that checks every input field in the current tab:
        for (i = 0; i < y.length; i++) {
            // If a field is empty...
            if (y[i].value == "") {
            // add an "invalid" class to the field:
            y[i].className += " invalid";
            // and set the current valid status to false:
            valid = false;
            }
        }
        // If the valid status is true, mark the step as finished and valid:

        return valid; // return the valid status
    }

    @* function nextStep() {
        $('#setPassword').attr('class', 'd-block');
        $('#forgotPassword').attr('class', 'd-none');
        $('#newPassword').focus();
    } *@
    function sendSms() {        
        if ($('#userID').val() == '') {
            $.notify("請輸入身分證號", { className: "Warning", position: "top center" });
            //alert("請輸入身分證號");
        }
        else if ($('#userPhone').val() == '') {
            $.notify("請輸入行動電話號碼", { className: "Warning", position: "top center" });
            //alert("請輸入行動電話號碼");
        } 
        else {
            $(event.target).prop('disabled', true);
            timedSet($(event.target), '發送驗證碼', 600);
            $.ajax({
                url: '@Url.Action("SendSms", "Member")',
                data: { mobile: $('#userPhone').val(), customer_idcard_no: $('#userID').val() },
                type: "GET",
                success: function (data) {
                    if (data.code == "0")
                        $.notify(data.msg, { className: "Warning", position: "top center" });
                        //alert(data.msg);
                }
            })
        }
    }

</script>