@model viewModelMember
@{
    ViewData["Title"] = "註冊";    
}
<style>
    body {
        font-family: "Open Sans", sans-serif;
        height: 80vh;
        @* background: url("https://i.imgur.com/HgflTDf.jpg") 50% fixed; *@
        background: url("/images/setting.jpg") 50% fixed;
        background-size: cover;
    }
</style>

<div class="wrapper">
    <form action="@Url.Action("Register", "Member")" class="login" method="post" enctype="multipart/form-data">
        <p class="title">會員註冊</p>
        @Html.AntiForgeryToken()
        @Html.HiddenFor(o => o.customer_id)
        <input type="text" class="uppercase" name="customer_idcard_no" placeholder="身分證字號" maxlength="10" minlength="10" autofocus required autocomplete="on" value="@Model.customer_idcard_no" />
        <i class="fa fa-user"></i>
        <input type="password" placeholder="設定密碼" name="password" maxlength="6" minlength="6" required autocomplete="off" value="@Model.password" />
        <i class="fa fa-key"></i>
        <input type="password" placeholder="確認密碼" name="password_check" maxlength="6" minlength="6" required autocomplete="off" value="@Model.password_check" />
        <i class="fa fa-key"></i>
        <input type="text" placeholder="手機號碼" name="customer_mobile_phone" inputmode="tel" maxlength="10" minlength="10" onkeyup="value = value.replace(/[^0-9]/g,'')" required autocomplete="on" value="@Model.customer_mobile_phone" />
        <i class="fa fa-phone"></i>
        <div class="row no-gutters align-items-center">
            <div class="col-7 col-md-8">
                <input type="text" name="sms_verify_code" placeholder="簡訊驗證碼" inputmode="numeric" style="width:95%" required autocomplete="off" />
                <i class="fa fa-mobile-alt" style="left: 13px;"></i>
            </div>
            <div class="col-5 col-md-4">
                <a class="btn btn-opposite text-white w-100" style="padding: 15px 10px; margin-bottom: 10px;" onclick="sendSms()">發送驗證碼</a>
            </div>
        </div>
        <div class="d-flex justify-content-end pb-3">
            <a href="#" class="forget-passport">收不到驗證碼?</a>
        </div>

        <p class="login-register">已有帳號 <a href="@Url.Action("Login", "Home")">立即登入</a></p>
        <button type="submit">
            <i class="spinner"></i>
            <span class="state">註冊</span>
        </button>
    </form>
</div>

@* <section class="container py-5">
    <div class="login-form">
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</section> *@

<script>

    var working = false;
    $('.login').on('submit', function(e) {
        //e.preventDefault();
        //if (working) return;
        //working = true;
        var $this = $(this),
            $state = $this.find('button > .state');
        $this.addClass('loading');
        $state.html('Authenticating');
        setTimeout(function() {
            $this.addClass('ok');
            $state.html('Welcome back!');
            setTimeout(function() {
            $state.html('Log in');
            $this.removeClass('ok loading');
            working = false;
            }, 4000);
        }, 3000);
    });

    function sendSms() {
        if ($('input[name="customer_mobile_phone"]').val() == '') {
            alert("請輸入行動電話號碼");
        }
        else {
            $.ajax({
                url: '@Url.Action("SendSms", "Member")',
                data: { mobile: $('input[name="customer_mobile_phone"]').val() },
                type: "GET",
                success: function (data) {
                    if (data.code == "1")
                        $('input[name="customer_id"]').val(data.msg);
                }
            })
        }
    }
</script>