@model viewModelMember
@{
    ViewData["Title"] = "註冊";    
}
<style>
    body {
        font-family: "Open Sans", sans-serif;
        height: 80vh;
        @* background: url("https://i.imgur.com/HgflTDf.jpg") 50% fixed; *@
        background: url("/images/setting.jpg") 50% fixed;
        background-size: cover;
    }
</style>

<div class="wrapper py-4">
    <form action="@Url.Action("Register", "Member")" class="login" method="post" enctype="multipart/form-data">
        <p class="title">會員註冊</p>
        @Html.AntiForgeryToken()
        @Html.HiddenFor(o => o.customer_id)
        <input type="text" class="uppercase" name="customer_idcard_no" placeholder="身分證字號" maxlength="10" minlength="10" autofocus required autocomplete="on" value="@Model.customer_idcard_no" onblur="checkIdcardNo();" />
        <i class="fa fa-user"></i>
        <input type="password" placeholder="設定密碼" name="password" maxlength="6" minlength="6" required autocomplete="off" value="@Model.password" />
        <i class="fa fa-key"></i>
        <input type="password" placeholder="確認密碼" name="password_check" maxlength="6" minlength="6" required autocomplete="off" value="@Model.password_check" />
        <i class="fa fa-key"></i>
        <input type="text" placeholder="手機號碼" name="customer_mobile_phone" inputmode="tel" maxlength="10" minlength="10" onkeyup="value = value.replace(/[^0-9]/g,'')" required autocomplete="on" value="@Model.customer_mobile_phone" />
        <i class="fa fa-phone"></i>
        <div class="row no-gutters align-items-center">
            <div class="col-7 col-md-8">
                <input type="text" name="sms_verify_code" placeholder="簡訊驗證碼" inputmode="numeric" style="width:95%" required autocomplete="off" />
                <i class="fa fa-mobile-alt" style="left: 13px;"></i>
            </div>
            <div class="col-5 col-md-4">
                <a class="btn btn-opposite text-white w-100" style="padding: 15px 10px; margin-bottom: 10px;" onclick="sendSms()">發送驗證碼</a>
            </div>
        </div>
        <div class="d-flex justify-content-end pb-3">
            <a href="#" class="forget-passport" data-toggle="modal" data-target="#smsModal">收不到驗證碼?</a>
        </div>

        <p class="login-register">已有帳號 <a href="@Url.Action("Login", "Home")">立即登入</a></p>
        <button type="submit">
            <i class="spinner"></i>
            <span class="state">註冊</span>
        </button>
    </form>
</div>

<!-- Sms Modal -->
<div class="modal fade theme-modal" id="smsModal" tabindex="-1" role="dialog" aria-labelledby="smsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="smsModalLabel">收不到驗證碼</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>麻煩請您加入我們<a href="https://liff.line.me/1645278921-kWRPP32q/?accountId=rym-i-money" target="_blank">LINE官方帳號</a>，由專人為您服務，謝謝。</p>
                <div class="text-center py-3">
                    @* <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button> *@
                    <a href="https://liff.line.me/1645278921-kWRPP32q/?accountId=rym-i-money" target="_blank" class="btn btn-opposite">立即加入</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    var working = false;
    $('.login').on('submit', function(e) {
        //e.preventDefault();
        //if (working) return;
        //working = true;
        var $this = $(this),
            $state = $this.find('button > .state');
        $this.addClass('loading');
        $state.html('Authenticating');
        setTimeout(function() {
            $this.addClass('ok');
            $state.html('Welcome back!');
            setTimeout(function() {
            $state.html('Log in');
            $this.removeClass('ok loading');
            working = false;
            }, 4000);
        }, 3000);
    });

    function sendSms() {
        if ($('input[name="customer_mobile_phone"]').val() == '') {
            alert("請輸入行動電話號碼");
        }
        else {
            $.ajax({
                url: '@Url.Action("SendSms", "Member")',
                data: { mobile: $('input[name="customer_mobile_phone"]').val() },
                type: "GET",
                success: function (data) {
                    if (data.code == "1")
                        $('input[name="customer_id"]').val(data.msg);
                }
            })
        }
    }
    function checkIdcardNo() {
        $.ajax({
            url: '@Url.Action("checkIdcardNo", "Member")',
            data: { idcardNo: $('input[name="customer_idcard_no"]').val() },
            type: "GET",
            success: function (data) {
                if (data.code == "1") {
                    $.notify(data.msg, { className: "Warning", position: "top center" });
                    //alert(data.msg);
                    $('input[name="customer_idcard_no"]').val("");
                }                   
            }
        })
    }
</script>